/*Navbar and Header Code*/

#contact > a{
	margin-top: 15px;
	color: white;
}

h1, .navbar-brand {
	font-family: 'Ultra', serif;
	color: white;
}

/*Section Code*/

/*.pic{
	display: block;
	overflow: hidden;
	position: relative;
	max-height: 200px;
}

.hiddenPic {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	width: 100%;
	max-height: 200px;
}*/

.section {
	width: 100%;
	padding: 15px 0;
	z-index: 1;
	background-color: white;
	margin-bottom: 300px;
}

.featurette{
	width: 90%;
	max-height: 44em;
	margin: 0 auto;
}

/*Image Hovering Code*/

/*.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.featurette-image:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 }*/

/*Footer Code */

#last{
	margin-top: 200px;
	background-color: white;
}

#sidetrackedImg {
	max-height: 150px;
}